.slide-one-item{
    position: relative;
    z-index: 1;
}

.owl-carousel{
    width: 100%;
}

.owl-carousel .owl-item {
    display: none;
    transition-duration: 1s ease;
}

.owl-carousel .owl-item.active {
    display: block;
    transition-duration: 1s ease;
}